<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdminServiceImplServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://FerTorre:8280/sdi3-23.EJB/AdminService_SOAP"
                binding="basicHttpBinding" bindingConfiguration="AdminServiceImplServiceSoapBinding"
                contract="AdminServiceSOAP.AdminService_SOAP" name="AdminService_SOAPPort" />
        </client>
    </system.serviceModel>
</configuration>